<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射接口，必须为完整的包名加类名 -->
<mapper namespace="com.air.demo.dao.MsgMapper">
  <!-- 实体映射 -->
  <resultMap id="Msg" type="Msg">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="posterid" property="posterid" jdbcType="INTEGER" />
  </resultMap>


</mapper>